swagger: '2.0'
info:
  version: 0.7.6
  title: 淘兼职api
  description: |
    Admin标签代表只能管理员使用;
    Auth标签代表需要在请求里带上获得的token（见https://github.com/tymondesigns/jwt-auth/wiki/Authentication ）;
    错误返回的类型都是 ErrorModel, 如果没有特殊情况不会标出;
host: tjz.frezc.com
basePath: /
schemes:
  - http
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
paths:
  /auth:
    post:
      description: |
        登陆，返回用户基本信息和验证TOKEN，注意邮箱需要验证后才能使用
      tags:
        - 基本验证
      parameters:
        - name: email
          in: formData
          description: 用户邮箱
          required: true
          type: string
        - name: password
          in: formData
          description: 密码
          required: true
          type: string
          format: password
      responses:
        '200':
          description: 登陆成功
          schema:
            $ref: '#/definitions/Auth'
        default:
          description: 登陆失败, 邮箱未验证 状态码430
          schema:
            $ref: '#/definitions/ErrorModel'
  /authPhone:
    post:
      description: |
        登陆，返回用户基本信息和验证TOKEN, 通过手机号登陆，不需要验证邮箱
      tags:
        - 基本验证
      parameters:
        - name: phone
          in: formData
          description: 用户手机号
          required: true
          type: string
        - name: password
          in: formData
          description: 密码
          required: true
          type: string
          format: password
      responses:
        '200':
          description: 登陆成功
          schema:
            $ref: '#/definitions/Auth'
        default:
          description: 登陆失败
          schema:
            $ref: '#/definitions/ErrorModel'
  /refresh:
    get:
      description: token有时效性(24小时)所以要定时刷新token
      tags:
        - 基本验证
      parameters:
        - name: token
          in: query
          description: 旧token，刷新后就不再使用了
          required: true
          type: string
      responses:
        '200':
          description: 返回结果和/auth接口一样
          schema:
            $ref: '#/definitions/Auth'
        default:
          description: fail
          schema:
            $ref: '#/definitions/ErrorModel'
  /register:
    post:
      description: 注册的api
      tags:
        - 基本验证
      parameters:
        - name: email
          in: formData
          description: 用户email
          required: true
          type: string
        - name: password
          in: formData
          description: 用户密码，6~32位
          required: true
          type: string
          format: password
        - name: nickname
          in: formData
          description: 用户名，1~16位
          required: true
          type: string
      responses:
        '200':
          description: 注册成功(未验证)
          schema:
            type: string
        default:
          description: fail
          schema:
            $ref: '#/definitions/ErrorModel'
  /registerByPhone:
    post:
      description: 使用手机号注册的api
      tags:
        - 基本验证
      parameters:
        - name: phone
          in: formData
          description: 用户手机号
          required: true
          type: string
        - name: password
          in: formData
          description: 用户密码，6~32位
          required: true
          type: string
          format: password
        - name: nickname
          in: formData
          description: 用户名，1~16位
          required: true
          type: string
        - name: verification_code
          in: formData
          description: 短信获取的验证码
          required: true
          type: string
      responses:
        '200':
          description: 注册成功
          schema:
            type: string
        default:
          description: fail(注意返回的状态码，430:手机号与验证码不符，431:验证码过期)
          schema:
            $ref: '#/definitions/ErrorModel'
  /resetPassword:
    post:
      description: 重置密码，需要绑定手机
      tags:
        - 基本验证
      parameters:
        - name: phone
          in: formData
          description: 手机号
          required: true
          type: string
        - name: password
          in: formData
          description: 用户密码，6~32位
          required: true
          type: string
          format: password
        - name: verification_code
          in: formData
          description: 短信获取的验证码
          required: true
          type: string
      responses:
        '200':
          description: 密码重置成功
          schema:
            type: string
        default:
          description: fail(注意返回的状态码，430:手机号与验证码不符，431:验证码过期)
          schema:
            $ref: '#/definitions/ErrorModel'
  /getSmsCode:
    get:
      description: 得到手机验证码，一小时有效，一个手机号获取间隔至少1分钟，一天只能获得5次
      tags:
        - 基本验证
      parameters:
        - name: phone
          in: query
          description: 手机号
          required: true
          type: string
      responses:
        '200':
          description: 获取成功，验证码会在几秒后发送到手机
          schema:
            type: string
        default:
          description: fail
          schema:
            $ref: '#/definitions/ErrorModel'
  /bindPhone:
    post:
      description: 绑定手机
      tags:
        - 基本验证
        - Auth
      parameters:
        - name: phone
          in: formData
          description: 用户手机号
          required: true
          type: string
        - name: verification_code
          in: formData
          description: 短信获取的验证码
          required: true
          type: string
      responses:
        '200':
          description: 绑定成功
          schema:
            type: string
        default:
          description: fail(注意返回的状态码，430:手机号与验证码不符，431:验证码过期)
          schema:
            $ref: '#/definitions/ErrorModel'
  /sendVerifyEmail:
    post:
      description: 发送验证邮件
      tags:
        - 基本验证
      parameters:
        - name: email
          in: formData
          description: 邮箱
          required: true
          type: string
      responses:
        '200':
          description: 获取成功，邮件将会发送到你的邮箱
          schema:
            type: string
        default:
          description: fail
          schema:
            $ref: '#/definitions/ErrorModel'
  /verifyEmail:
    post:
      description: 验证邮箱
      tags:
        - 基本验证
      parameters:
        - name: email
          in: formData
          description: 邮箱
          required: true
          type: string
        - name: verification_code
          in: formData
          description: 验证码
          required: true
          type: string
      responses:
        '200':
          description: 验证成功
          schema:
            type: string
        default:
          description: fail(注意返回的状态码，430:邮箱与验证码不符，431:验证码过期)
          schema:
            $ref: '#/definitions/ErrorModel'
  /bindEmail:
    post:
      description: 绑定邮箱
      tags:
        - 基本验证
        - Auth
      parameters:
        - name: email
          in: formData
          description: 用户邮箱
          required: true
          type: string
        - name: verification_code
          in: formData
          description: 邮箱获取的验证码
          required: true
          type: string
      responses:
        '200':
          description: 绑定成功
          schema:
            type: string
        default:
          description: fail(注意返回的状态码，430:邮箱与验证码不符，431:验证码过期)
          schema:
            $ref: '#/definitions/ErrorModel'

  /self:
    get:
      description: 得到当前登录用户的信息
      tags:
        - 用户模块
        - Auth
      parameters: []
      responses:
        '200':
          description: 找到用户
          schema:
            $ref: '#/definitions/User'
  /users/{id}:
    get:
      description: 得到某个用户的信息
      tags:
        - 用户模块
      parameters:
        - name: id
          in: path
          description: 用户的id
          required: true
          type: integer
      responses:
        '200':
          description: 找到用户
          schema:
            $ref: '#/definitions/User'
    post:
      description: 更新用户信息
      tags:
        - 用户模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 用户的id
          required: true
          type: integer
          format: int64
        - name: nickname
          in: formData
          description: 用户名
          type: string
        - name: sex
          in: formData
          description: 0:男(default) 1:女
          type: integer
        - name: sign
          in: formData
          description: 个性签名
          type: string
        - name: birthday
          in: formData
          description: 生日
          type: string
          format: date
        - name: location
          in: formData
          description: 所在地
          type: string
        - name: avatar
          in: formData
          description: 头像
          type: string
      responses:
        '200':
          description: 更新成功
          schema:
            $ref: '#/definitions/User'
  /users/{id}/realNameApplies:
    get:
      description: 查看实名验证的状态
      tags:
        - 用户模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 用户的id
          required: true
          type: integer
      responses:
        200:
          description: is_examined代表当前状态，[0：未审核, 1：已通过, 2：已拒绝]
          schema:
            type: array
            items:
              $ref: '#/definitions/RealNameVerification'
    post:
      description: 申请实名验证
      tags:
        - 用户模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 用户的id
          required: true
          type: integer
        - name: real_name
          in: formData
          description: 真实姓名
          required: true
          type: string
        - name: id_number
          in: formData
          description: 身份证号
          required: true
          type: string
        - name: verifi_pic
          in: formData
          description: 验证用的照片
          required: true
          type: string
      responses:
        200:
          description: 提交申请成功，等待后台处理
          schema:
            $ref: '#/definitions/RealNameVerification'
        default:
          description: error，注意如果有非拒绝状态的申请时不能重复创建，不然会返回错误
          schema:
            $ref: '#/definitions/ErrorModel'
  /users/{id}/realNameApplies/{aid}:
    delete:
      description: 取消某项实名认证申请
      tags:
        - 用户模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 用户的id
          required: true
          type: integer
        - name: aid
          in: path
          description: 申请的id
          required: true
          type: integer
      responses:
        200:
          description: 成功
          schema:
            $ref: '#/definitions/RealNameVerification'
        default:
          description: error，注意只能取消状态为申请中的项
          schema:
            $ref: '#/definitions/ErrorModel'
  /job/completed:
    get:
      description: '**请使用/users/{id}/orders来得到各个状态的订单** 已完成的工作'
      tags:
        - 用户模块
        - Auth
      parameters:
        - name: is_evaluated
          in: query
          description: 是否已评价(0:未评价, 1:已评价)
          type: integer
        - name: dir
          in: query
          description: "按时间升序('asc')or降序('desc'), 默认升序"
          type: string
        - name: off
          in: query
          description: 查找结果的偏移量（用来分页）
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果
          type: integer
      responses:
        '200':
          description: 返回搜索的所有已完成岗位
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/JobCompleted'
  /users/{id}/resumes:
    get:
      description: 得到某份简历
      tags:
        - 用户模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 用户的id
          required: true
          type: integer
      responses:
        '200':
          description: 简历详情
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/Resume'
    post:
      description: 添加简历
      consumes:
        - multipart/form-data
      tags:
        - 用户模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 用户的id
          required: true
          type: integer
        - name: title
          in: formData
          description: 简历标题
          required: true
          type: string
        - name: name
          in: formData
          description: 简历里的姓名
          required: true
          type: string
        - name: sex
          in: formData
          description: 性别（0：男，1：女），默认0
          type: integer
        - name: school
          in: formData
          description: 学校
          type: string
        - name: introduction
          in: formData
          description: 简介
          type: string
        - name: photo
          in: formData
          description: 简历的照片文件
          type: string
        - name: birthday
          in: formData
          description: 生日
          type: string
          format: date
        - name: contact
          in: formData
          description: 联系方式
          type: string
        - name: expect_location
          in: formData
          description: 期望工作地点
          type: string
      responses:
        '201':
          description: resume created
          schema:
            $ref: '#/definitions/Resume'
  /users/{id}/resumes/{resumeId}:
    delete:
      description: 删除简历
      tags:
        - 用户模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 用户id
          required: true
          type: integer
        - name: resumeId
          in: path
          description: 简历id
          required: true
          type: integer
      responses:
        200:
          description: deleted
          schema:
            $ref: '#/definitions/Resume'
    post:
      description: 修改简历
      consumes:
        - multipart/form-data
      tags:
        - 用户模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 用户id
          required: true
          type: integer
        - name: resumeId
          in: path
          description: 简历id
          required: true
          type: integer
        - name: title
          in: formData
          description: 简历标题
          type: string
        - name: name
          in: formData
          description: 简历里的姓名
          type: string
        - name: school
          in: formData
          description: 学校
          type: string
        - name: introduction
          in: formData
          description: 简介
          type: string
        - name: photo
          in: formData
          description: 简历的照片文件
          type: string
        - name: birthday
          in: formData
          description: 生日
          type: string
          format: date
        - name: contact
          in: formData
          description: 联系方式
          type: string
        - name: expect_location
          in: formData
          description: 期望工作地点
          type: string
      responses:
        '200':
          description: resume updated
          schema:
            $ref: '#/definitions/Resume'
  /users/{id}/logs:
    get:
      description: 得到用户的操作记录
      tags:
        - 用户模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 用户id
          required: true
          type: integer
        - name: dir
          in: query
          description: 升序('asc')or降序('desc'), 默认降序
          type: string
        - name: off
          in: query
          description: 查找结果的偏移量（用来分页）
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果
          type: integer
      responses:
        200:
          description: 返回操作记录
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/Log'

  /jobs:
    get:
      description: 查找岗位
      tags:
        - 岗位模块
      parameters:
        - name: kw
          in: query
          description: 关键字(用空格分开)
          type: string
        - name: orderby
          in: query
          description: '按某列进行排序(id, created_at, number), 默认id'
          type: string
        - name: company_id
          in: query
          description: 该企业的岗位
          type: integer
        - name: user_id
          in: query
          description: 该用户发布的岗位
          type: integer
        - name: dir
          in: query
          description: "升序('asc')or降序('desc'), 默认升序"
          type: string
        - name: exist
          in: query
          description: 筛选存在与否，只有管理员权限才有用
          type: integer
        - name: off
          in: query
          description: 查找结果的偏移量（用来分页）
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果
          type: integer
      responses:
        200:
          description: 返回搜索的所有岗位
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/Job'
  /jobs/{id}:
    get:
      description: 查找岗位
      tags:
        - 岗位模块
      parameters:
        - name: id
          in: path
          description: 岗位id
          required: true
          type: integer
      responses:
        '200':
          description: 返回岗位详情
          schema:
            $ref: '#/definitions/Job'
    post:
      description: 修改岗位信息
      tags:
        - 岗位模块
      parameters:
        - name: id
          in: path
          description: 岗位id
          required: true
          type: integer
        - name: name
          in: formData
          description: 岗位名称
          type: string
        - name: pay_way
          in: formData
          description: 支付方式 1：线下支付，2：在线支付
          type: integer
        - name: description
          in: formData
          description: 描述信息
          type: string
        - name: active
          in: formData
          description: 岗位是否活跃，0表示不活跃（下架）,1表示活跃
          type: integer
        - name: contact
          in: formData
          description: 联系方式
          type: string
      responses:
        '200':
          description: 返回修改后的岗位信息
          schema:
            $ref: '#/definitions/Job'
    delete:
      description: 删除岗位
      tags:
        - 岗位模块
      parameters:
        - name: id
          in: path
          description: 岗位id
          required: true
          type: integer
      responses:
        '200':
          description: 返回岗位详情
          schema:
            $ref: '#/definitions/Job'
  /jobs/{id}/evaluate:
    get:
      description: 得到岗位的评价
      tags:
        - 岗位模块
      parameters:
        - name: id
          in: path
          description: 岗位id
          required: true
          type: integer
        - name: off
          in: query
          description: 查找结果的偏移量（用来分页）
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果
          type: integer
      responses:
        '200':
          description: 查找到的评价
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/Evaluate'
  /jobs/{id}/apply:
    post:
      description: 申请岗位
      tags:
        - 岗位模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 岗位id
          required: true
          type: integer
        - name: job_time_id
          in: formData
          description: job time的id
          required: true
          type: integer
        - name: resume_id
          in: formData
          description: 使用的简历id
          required: true
          type: integer
      responses:
        200:
          description: 返回创建成功的订单
          schema:
            $ref: '#/definitions/Order'
  /job/apply:
    get:
      description: '**请使用/users/{id}/orders来得到各个状态的订单**申请中的岗位'
      tags:
        - 岗位模块
        - Auth
      parameters:
        - name: status
          in: query
          description: 根据申请状态进行筛选(0:申请中，1:申请成功，2:申请失败，该项为空或其他参数表示不筛选)
          type: integer
        - name: dir
          in: query
          description: "按时间升序('asc')or降序('desc'), 默认降序"
          type: string
        - name: off
          in: query
          description: 查找结果的偏移量（用来分页）
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果
          type: integer
      responses:
        '200':
          description: 返回搜索的所有岗位申请
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/JobApply'
    post:
      description: '**请使用/jobs/{id}/apply来申请岗位**创建申请'
      tags:
        - 岗位模块
        - Auth
      parameters:
        - name: job_id
          in: formData
          description: 申请的岗位id
          required: true
          type: integer
        - name: resume_id
          in: formData
          description: 使用的简历id
          required: true
          type: integer
        - name: description
          in: formData
          description: 申请时的描述
          type: string
      responses:
        '200':
          description: 申请成功
          schema:
            type: string
  /jobs/{id}/restore:
    post:
      description: 恢复岗位
      tags:
        - Admin
      parameters:
        - name: id
          in: path
          description: 岗位id
          required: true
          type: integer
      responses:
        200:
          description: 返回恢复的岗位
          schema:
            $ref: '#/definitions/Job'
  /expect_jobs:
    post:
      description: 创建公开简历信息
      tags:
        - 岗位模块
        - Auth
      consumes:
        - application/json
      parameters:
        - name: expect_job
          in: body
          description: 使用的简历id
          required: true
          schema:
            type: object
            properties:
              resume_id:
                type: integer
              expect_times:
                type: array
                items:
                  $ref: '#/definitions/Time'
      responses:
        '200':
          description: 发布成功
          schema:
            $ref: '#/definitions/ExpectJob'
    get:
      description: 查找公开的求职信息
      tags:
        - 岗位模块
        - Auth
      parameters:
        - name: kw
          in: query
          description: 关键字(用空格分开)
          required: true
          type: string
        - name: user_id
          in: query
          description: 筛选用户
          type: integer
        - name: orderby
          in: query
          description: 默认created_at
          type: string
        - name: dir
          in: query
          description: 升序('asc')or降序('desc'), 默认降序
          type: string
        - name: off
          in: query
          description: 查找结果的偏移量（用来分页）
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果
          required: true
          type: integer
      responses:
        '200':
          description: 返回搜索的所有岗位
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/ExpectJob'
  /expect_jobs/{id}:
    get:
      description: 公开的简历
      tags:
        - 岗位模块
      parameters:
        - name: id
          in: path
          description: 公开简历的id
          required: true
          type: integer
      responses:
        '200':
          description: 返回公开简历的详情信息
          schema:
            $ref: '#/definitions/ExpectJob'
    post:
      description: 更新公开简历
      tags:
        - 岗位模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 求职申请id
          required: true
          type: integer
        - name: name
          in: formData
          description: 名字
          type: string
        - name: photo
          in: formData
          description: 照片
          type: string
        - name: school
          in: formData
          description: 学校
          type: string
        - name: introduction
          in: formData
          description: 描述
          type: string
        - name: birthday
          in: formData
          description: 生日
          type: string
        - name: contact
          in: formData
          description: 联系方式
          type: string
        - name: sex
          in: formData
          description: 性别 0 为男 1为女
          type: string
        - name: expect_location
          in: formData
          description: 期望工作地点
          type: string
      responses:
        200:
          description: 返回更新后的信息
          schema:
            $ref: '#/definitions/ExpectJob'
    delete:
      description: 删除公开简历
      tags:
        - 岗位模块
      parameters:
        - name: id
          in: path
          description: 公开简历的id
          required: true
          type: integer
      responses:
        '200':
          description: 返回公开简历的详情信息
          schema:
            $ref: '#/definitions/ExpectJob'
  /expect_jobs/{id}/apply:
    post:
      description: 为求职者发送确认订单
      tags:
        - 岗位模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 求职申请id
          required: true
          type: integer
        - name: job_id
          in: formData
          description: 岗位id（必须是自己发布或公司发布的岗位）
          required: true
          type: integer
      responses:
        200:
          description: 返回创建成功的订单
          schema:
            $ref: '#/definitions/Order'
  /expect_jobs/{id}/restore:
    post:
      description: 恢复该公开简历
      tags:
        - Admin
      parameters:
        - name: id
          in: path
          description: 求职申请id
          required: true
          type: integer
      responses:
        200:
          description: 返回创建成功的订单
          schema:
            $ref: '#/definitions/ExpectJob'

  /users/{id}/orders:
    get:
      description: 得到该用户的订单信息
      tags:
        - 订单模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 用户id
          required: true
          type: integer
        - name: orderby
          in: query
          description: 默认created_at
          type: string
        - name: dir
          in: query
          description: 升序('asc')or降序('desc'), 默认降序
          type: string
        - name: off
          in: query
          description: 查找结果的偏移量（用来分页）
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果
          type: integer
        - name: status
          in: query
          description: 状态筛选，0：未确认，1：已确认，2：已完成，3：已取消
          type: integer
        - name: applicant_check
          in: query
          description: 申请者是否确认(0, 1)，默认无视
          type: integer
          enum: [0, 1]
        - name: recruiter_check
          in: query
          description: 招聘者是否确认(0, 1)，默认无视
          type: integer
          enum: [0, 1]
        - name: role
          in: query
          description: 为申请者(applicant)或应聘者(recruiter)
          type: string
          default: applicant
      responses:
        200:
          description: 返回订单
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/Order'
  /orders/{id}/evaluate:
    get:
      description: 得到订单的评价信息
      tags:
        - 订单模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 订单id
          required: true
          type: integer
      responses:
        '200':
          description: 返回公司的详情信息
          schema:
            type: object
            properties:
              job_evaluate:
                $ref: '#/definitions/Evaluate'
              user_evaluate:
                $ref: '#/definitions/Evaluate'
    post:
      description: 评价订单
      tags:
        - 订单模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 订单id
          required: true
          type: integer
        - name: score
          in: formData
          description: 评分(1~5)
          required: true
          type: integer
        - name: comment
          in: formData
          description: 评论
          type: string
        - name: pictures
          in: formData
          description: 晒图 格式为 {链接},{链接2} ，多个链接间用逗号隔开
          type: string
      responses:
        '200':
          description: 评价成功
          schema:
            type: string
  /orders/{id}:
    delete:
      description: 关闭订单
      tags:
        - 订单模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 订单id
          required: true
          type: integer
      responses:
        '200':
          description: 关闭成功
          schema:
            $ref: '#/definitions/Order'
    get:
      description: 得到订单的详情信息
      tags:
        - 订单模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 订单id
          required: true
          type: integer
      responses:
        '200':
          description: 返回订单的详情信息
          schema:
            $ref: '#/definitions/Order'

  /companies/{id}:
    get:
      description: 公司信息
      tags:
        - 商家模块
      parameters:
        - name: id
          in: path
          description: 企业id
          required: true
          type: integer
      responses:
        '200':
          description: 返回公司的详情信息
          schema:
            $ref: '#/definitions/Company'
    post:
      description: 更新公司信息
      tags:
        - 商家模块
      parameters:
        - name: id
          in: path
          description: 企业id
          required: true
          type: integer
        - name: url
          in: formData
          description: 企业主页
          type: string
        - name: address
          in: formData
          description: 企业地址
          type: string
        - name: logo
          in: formData
          description: 企业logo
          type: string
        - name: description
          in: formData
          description: 描述
          type: string
        - name: contact_person
          in: formData
          description: 联系人
          type: string
        - name: contact
          in: formData
          description: 联系方式
          type: string
      responses:
        '200':
          description: 返回修改后的信息
          schema:
            $ref: '#/definitions/Company'
  /companies:
    get:
      description: 搜索公司
      tags:
        - 商家模块
      parameters:
        - name: kw
          in: query
          description: 关键字(用空格分开)
          type: string
        - name: orderby
          in: query
          description: '按某列进行排序(id, created_at), 默认id'
          type: string
        - name: dir
          in: query
          description: "升序('asc')or降序('desc'), 默认升序"
          type: string
        - name: off
          in: query
          description: '查找结果的偏移量(用来分页),'
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果, 默认20
          type: integer
      responses:
        '200':
          description: 返回搜索的所有公司信息
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/Company'
  /companies/apply:
    get:
      description: 查看公司创建的申请。
      tags:
        - 商家模块
        - Auth
      parameters:
        - name: off
          in: query
          description: 查找结果的偏移量(用来分页)
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果, 默认20
          type: integer
      responses:
        '200':
          description: success
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/CompanyApply'
    post:
      description: 创建公司的申请（需审核）。
      tags:
        - 商家模块
        - Auth
      parameters:
        - name: name
          in: formData
          description: 企业名称
          required: true
          type: string
        - name: url
          in: formData
          description: 企业主页
          type: string
        - name: address
          in: formData
          description: 企业地址
          required: true
          type: string
        - name: logo
          in: formData
          description: 企业logo
          type: string
        - name: description
          in: formData
          description: 描述
          type: string
        - name: contact_person
          in: formData
          description: 联系人
          required: true
          type: string
        - name: contact
          in: formData
          description: 联系方式
          required: true
          type: string
        - name: business_license
          in: formData
          description: 营业执照
          required: true
          type: string
      responses:
        '200':
          description: 提交申请成功
          schema:
            $ref: '#/definitions/CompanyApply'

  /upload/image:
    post:
      description: 上传图片
      tags:
        - 其他模块
        - Auth
      parameters:
        - name: file
          in: formData
          required: true
          type: file
      responses:
        '200':
          description: 上传成功，返回图片对应的url
          schema:
            type: string
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
  /umsg:
    get:
      description: 得到提醒等更新信息
      tags:
        - 其他模块
        - Auth
      parameters: []
      responses:
        200:
          description: 成功
          schema:
            type: object
            properties:
              messages_count:
                type: integer
  /messages:
    get:
      description: 得到消息列表
      tags:
        - 其他模块
        - Auth
      parameters:
        - name: off
          in: query
          description: 默认0
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果, 默认20
          type: integer
      responses:
        200:
          description: 成功
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/Message'
  /notifications:
    post:
      description: 发布通知
      tags:
        - Admin
      consumes:
        - application/json
      parameters:
        - name: notification
          in: body
          description: 通知
          required: true
          schema:
            type: object
            properties:
              content:
                type: string
              from:
                type: integer
              target:
                type: array
                items:
                  type: integer
      responses:
        '200':
          description: 发布成功
          schema:
            type: string
  /notifications/{id}:
    get:
      description: 得到通知列表，按时间倒序
      tags:
        - 其他模块
        - Auth
      parameters:
        - name: id
          in: path
          description: 通知id
          required: true
          type: integer
        - name: off
          in: query
          description: 默认0
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果, 默认20
          type: integer
      responses:
        200:
          description: 成功
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/Notification'
  /conversations:
    get:
      description: 得到对话列表，按时间倒序
      tags:
        - 其他模块
        - Auth
      parameters:
        - name: target_id
          in: query
          description: 对方的id
          required: true
          type: integer
        - name: off
          in: query
          description: 默认0
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果, 默认20
          type: integer
      responses:
        200:
          description: 成功
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/Conversation'
    post:
      description: 发送私信
      tags:
        - 其他模块
        - Auth
      parameters:
        - name: receiver_id
          in: formData
          description: 对方用户的id
          required: true
          type: integer
        - name: content
          in: formData
          description: 内容
          required: true
          type: string
      responses:
        200:
          description: 成功
          schema:
            $ref: '#/definitions/Conversation'
  /banners:
    get:
      description: 得到首页banner的图片链接
      tags:
        - 其他模块
      parameters: []
      responses:
        200:
          description: 成功
          schema:
            type: array
            items:
              type: string
  /feedbacks:
    post:
      description: 发送反馈信息
      tags:
        - 其他模块
        - Auth
      parameters:
        - name: content
          in: formData
          description: 内容
          required: true
          type: string
        - name: type
          in: formData
          description: 类型
          type: integer
        - name: p1
          in: formData
          description: 第一张图片
          type: string
        - name: p2
          in: formData
          description: 第二张图片（下面的p3, p4, p5省略）
          type: string
      responses:
        200:
          description: 成功
          schema:
            type: string
    get:
      description: 得到用户的反馈信息
      tags:
        - Admin
      parameters:
        - name: off
          in: query
          description: 默认0
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果, 默认20
          type: integer
        - name: status
          in: query
          description: 状态筛选
          type: integer
        - name: type
          in: query
          description: 类型筛选
          type: integer
      responses:
        200:
          description: 成功
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/Feedback'
  /feedbacks/{id}:
    post:
      description: 更新反馈信息
      tags:
        - Admin
      parameters:
        - name: id
          in: path
          description: 通知id
          required: true
          type: integer
        - name: type
          in: formData
          description: 类型
          type: integer
        - name: status
          in: formData
          description: 状态
          type: integer
        - name: message
          in: formData
          description: 留言
          type: string
      responses:
        200:
          description: 成功
          schema:
            $ref: '#/definitions/Feedback'
  /notifications/history:
    get:
      description: 通知发布历史
      tags:
        - Admin
      parameters:
        - name: off
          in: query
          description: 默认0
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果, 默认20
          type: integer
      responses:
        200:
          description: success
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/NotificationSendInfo'
  /real_name_applies:
    get:
      description: 得到实名认证申请列表
      tags:
        - Admin
      parameters:
        - name: status
          in: query
          description: 审核状态 [1:未审核, 2:已通过, 3:已拒绝, 4:已取消]
          type: integer
          default: 0
        - name: user_id
          in: query
          description: 筛选用户id
          type: integer
        - name: off
          in: query
          description: 默认0
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果, 默认20
          type: integer
      responses:
        200:
          description: success
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/RealNameVerification'
  /real_name_applies/{id}:
    post:
      description: 通过或拒绝实名认证
      tags:
        - Admin
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
        - name: action
          in: formData
          description: 'acc：通过，rej：拒绝'
          required: true
          type: string
        - name: reason
          in: formData
          description: 拒绝理由
          type: string
      responses:
        200:
          description: 成功
          schema:
            $ref: '#/definitions/RealNameVerification'
  /company_applies:
    get:
      description: 得到企业认证申请列表
      tags:
        - Admin
      parameters:
        - name: status
          in: query
          description: 审核状态[1：未审核, 2：已通过, 3：已拒绝]
          type: integer
          default: 1
        - name: user_id
          in: query
          description: 筛选用户id
          type: integer
        - name: off
          in: query
          description: 默认0
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果, 默认20
          type: integer
      responses:
        200:
          description: success
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/CompanyApply'
  /company_applies/{id}:
    post:
      description: 通过或拒绝公司认证
      tags:
        - Admin
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: integer
        - name: action
          in: formData
          description: 'acc:通过，rej:拒绝'
          required: true
          type: string
        - name: reason
          in: formData
          description: 拒绝理由
          type: string
      responses:
        200:
          description: 成功
          schema:
            $ref: '#/definitions/CompanyApply'
  /users:
    get:
      description: 搜索对应的用户信息
      tags:
        - Admin
      parameters:
        - name: kw
          in: query
          description: 关键字
          type: string
        - name: company_id
          in: query
          description: 对应企业的用户
          type: integer
        - name: role_name
          in: query
          description: '权限筛选 [user, admin, banned]'
          type: string
        - name: dir
          in: query
          description: 升序('asc')or降序('desc'), 默认升序
          type: string
        - name: off
          in: query
          description: 查找结果的偏移量（用来分页）
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果
          type: integer
      responses:
        200:
          description: 返回对应的用户列表
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/User'
  /orders:
    get:
      description: 得到订单信息
      tags:
        - Admin
      parameters:
        - name: user_id
          in: query
          description: 对应用户的订单
          type: integer
        - name: off
          in: query
          description: 查找结果的偏移量（用来分页）
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果
          type: integer
      responses:
        200:
          description: 返回对应的订单列表
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/Order'
  /data:
    post:
      description: 保存数据
      tags:
        - Admin
      parameters:
        - name: key
          in: formData
          required: true
          type: string
        - name: value
          in: formData
          required: true
          type: string
      responses:
        200:
          description: 成功
          schema:
            type: string
  /reports:
    get:
      description: 得到举报信息
      tags:
        - Admin
      parameters:
        - name: target_type
          in: query
          description: '类型筛选 order: 订单, user: 用户, company: 企业, job: 岗位, expect_job：公开简历'
          type: string
        - name: status
          in: query
          description: '状态筛选 1：未处理，2：已处理，3：搁置'
          type: integer
        - name: off
          in: query
          description: 查找结果的偏移量（用来分页）
          type: integer
        - name: siz
          in: query
          description: 最多返回的结果
          type: integer
      responses:
        200:
          description: 返回对应的举报列表
          schema:
            type: object
            properties:
              total:
                type: integer
              list:
                type: array
                items:
                  $ref: '#/definitions/Report'
  /reports/{id}:
    post:
      description: 更新举报信息
      tags:
        - Admin
      parameters:
        - name: id
          in: path
          description: 通知id
          required: true
          type: integer
        - name: status
          in: formData
          description: 状态
          type: integer
        - name: message
          in: formData
          description: 留言
          type: string
      responses:
        200:
          description: 成功
          schema:
            $ref: '#/definitions/Report'
  /users/{id}/role:
    post:
      description: 更新用户权限信息
      tags:
        - Admin
      parameters:
        - name: id
          in: path
          description: 用户id
          required: true
          type: integer
        - name: role
          in: formData
          description: '权限[user, banned]'
          required: true
          type: string
      responses:
        200:
          description: 成功
          schema:
            $ref: '#/definitions/User'
  /boss/umsg:
    get:
      description: 得到提醒信息
      tags:
        - Admin
      parameters:
        - name: after
          in: query
          description: 得到某个时间后的消息
          type: string
      responses:
        200:
          description: success
          schema:
            type: object
            properties:
              real_name_applies:
                type: integer
              company_applise:
                type: integer
              feedbacks:
                type: integer
              reports:
                type: integer
              end_at:
                type: string

definitions:
  User:
    type: object
    properties:
      id:
        type: integer
      email:
        type: string
        format: email
      nickname:
        type: string
      avatar:
        type: string
      sign:
        type: string
      birthday:
        type: string
        format: date
      location:
        type: string
      sex:
        type: integer
      phone:
        type: string
      company_id:
        type: integer
      company_name:
        type: string
      email_verified:
        type: integer
      role_name:
        type: string
      real_name_verified:
        type: integer
      created_at:
        type: string
        format: date
  Auth:
    type: object
    properties:
      user:
        $ref: '#/definitions/User'
      token:
        type: string
  Resume:
    type: object
    properties:
      id:
        type: integer
      user_id:
        type: integer
      title:
        type: string
      name:
        type: string
      photo:
        type: string
      school:
        type: string
      introduction:
        type: string
      birthday:
        type: string
        format: date
      expect_location:
        type: string
      sex:
        type: integer
      contact:
        type: string
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
  Job:
    type: object
    required:
      - id
      - name
    properties:
      id:
        type: integer
      name:
        type: string
      pay_way:
        type: integer
      description:
        type: string
      visited:
        type: integer
      time:
        type: array
        items:
          $ref: '#/definitions/JobTime'
      company_id:
        type: integer
      company_name:
        type: string
      creator_id:
        type: integer
      creator_name:
        type: string
      active:
        type: integer
      contact:
        type: string
      number_evaluate:
        type: integer
      average_score:
        type: integer
      created_at:
        type: string
        format: date
  ExpectJob:
    type: object
    properties:
      id:
        type: integer
      user_id:
        type: integer
      user_name:
        type: string
      name:
        type: string
      photo:
        type: string
      school:
        type: string
      introduction:
        type: string
      birthday:
        type: string
        format: date
      expect_location:
        type: string
      sex:
        type: integer
      contact:
        type: string
      expect_time:
        type: array
        items:
          $ref: '#/definitions/Time'
      created_at:
        type: string
        format: date
  Time:
    type: object
    properties:
      year:
        type: integer
      month:
        type: integer
      dayS:
        type: integer
      dayE:
        type: integer
#      hourS:
#        type: integer
#      hourE:
#        type: integer
#      minuteS:
#        type: integer
#      minuteE:
#        type: integer
  JobTime:
    type: object
    properties:
      id:
        type: integer
      number:
        type: integer
      number_applied:
        type: integer
      salary_type:
        type: integer
      salary:
        type: integer
      apply_end_at:
        type: integer
      start_at:
        type: integer
      end_at:
        type: integer
  JobApply:
    type: object
    properties:
      id:
        type: integer
      user_id:
        type: integer
      job_id:
        type: integer
      job_name:
        type: string
      resume_id:
        type: integer
      resume_name:
        type: string
      description:
        type: string
      status:
        type: integer
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
  JobCompleted:
    type: object
    properties:
      id:
        type: integer
      user_id:
        type: integer
      job_id:
        type: integer
      job_name:
        type: string
      resume_id:
        type: integer
      resume_name:
        type: string
      description:
        type: string
      is_evaluated:
        type: integer
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
  Evaluate:
    type: object
    properties:
      score:
        type: integer
      comment:
        type: string
      user_id:
        type: integer
      user_name:
        type: string
      pictures:
        type: string
      created_at:
        type: string
        format: date
  Company:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      url:
        type: string
      address:
        type: string
      logo:
        type: string
      description:
        type: string
      contact:
        type: string
      contact_person:
        type: string
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
  Order:
    type: object
    properties:
      id:
        type: integer
      job_id:
        type: integer
      job_name:
        type: string
      job_time:
        $ref: '#/definitions/JobTime'
      expect_job:
        $ref: '#/definitions/ExpectJob'
      applicant_id:
        type: integer
      applicant_name:
        type: string
      recruiter_type:
        type: integer
      recruiter_id:
        type: integer
      recruiter_name:
        type: string
      status:
        type: integer
      applicant_check:
        type: integer
      recruiter_check:
        type: integer
      has_paid:
        type: integer
      evaluate_status:
        type: string
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
  Message:
    type: object
    properties:
      id:
        type: integer
      sender_id:
        type: integer
      sender_name:
        type: string
      sender_avatar:
        type: string
      type:
        type: string
        enum: ['notification', 'conversation']
      content:
        type: string
      unread:
        type: integer
      updated_at:
        type: string
        format: date
  Notification:
    type: object
    properties:
      id:
        type: integer
      content:
        type: string
      created_at:
        type: string
        format: date
  Conversation:
    type: object
    properties:
      id:
        type: integer
      sender_id:
        type: integer
      sender_name:
        type: string
      sender_avatar:
        type: string
      content:
        type: string
      created_at:
        type: string
  RealNameVerification:
    type: object
    properties:
      id:
        type: integer
      user_id:
        type: integer
      user_name:
        type: string
      real_name:
        type: string
      id_number:
        type: string
      verifi_pic:
        type: string
      status:
        type: integer
        enum: [1, 2, 3, 4]
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
  Log:
    type: object
    properties:
      ip:
        type: string
      user_id:
        type: integer
      method:
        type: string
      url:
        type: string
      params:
        type: string
      created_at:
        type: string
        format: date
  NotificationSendInfo:
    type: object
    properties:
      id:
        type: integer
      user_id:
        type: integer
      user_name:
        type: string
      from:
        type: integer
      to:
        type: string
      content:
        type: string
      created_at:
        type: string
        format: date
  CompanyApply:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      url:
        type: string
      address:
        type: string
      logo:
        type: string
      description:
        type: string
      contact:
        type: string
      contact_person:
        type: string
      user_id:
        type: integer
      user_name:
        type: string
      status:
        type: integer
      message:
        type: string
      business_license:
        type: string
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
  Feedback:
    type: object
    properties:
      id:
        type: integer
      user_id:
        type: integer
      user_name:
        type: string
      content:
        type: string
      p1:
        type: string
      p2:
        type: string
      p3:
        type: string
      p4:
        type: string
      p5:
        type: string
      type:
        type: integer
      status:
        type: integer
      dealt_at:
        type: string
        format: date
      message:
        type: string
      created_at:
        type: string
        format: date
  Report:
    type: object
    properties:
      id:
        type: integer
      user_id:
        type: integer
      user_name:
        type: string
      content:
        type: string
      pictures:
        type: string
      target_type:
        type: string
      target_id:
        type: integer
      status:
        type: integer
      dealt_at:
        type: string
        format: date
      message:
        type: string
      created_at:
        type: string
        format: date
  ErrorModel:
    type: object
    properties:
      status_code:
        type: integer
      message:
        type: string
      error:
        type: string
